---
layout: default
---

<div class="container-sm">
    <h1>{{ site.description }}</h1>
    <hr>

    {% for album in site.data.2025 %}
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <img src="{{ album.artwork }}" class="img-fluid rounded" alt="...">
        </div>

        <div class="col-sm-6 col-md-6">
            <h2># <strong>{{ album.rank }}</strong></h2>
            <h3>{{ album.title }}</h3>
            <h4>{{ album.artist }}</h4>
            <p>{{ album.released }}<br>{{ album.minutes }} min</p>
            {% if album.bandcamp %}
            <a href="{{ album.bandcamp }}" target="_blank" class="icon"><i class="fa-brands fa-bandcamp"></i></a>
            {% endif %}
            {% if album.spotify %}
            <a href="{{ album.spotify }}" target="_blank" class="icon"><i class="fa-brands fa-spotify"></i></a>
            {% endif %}
            {% if album.youtube %}
            <a href="{{ album.youtube }}" target="_blank" class="icon"><i class="fa-brands fa-youtube"></i></a>
            {% endif %}
            {% if album.apple %}
            <a href="{{ album.apple }}" target="_blank" class="icon"><i class="fa-brands fa-itunes-note"></i></a>
            {% endif %}
        </div>
    </div>
    <br>
    {% endfor %}
</div>
