<!DOCTYPE html>
<html lang="en-US">

<!--

    /$$$$$  /$$$$$$  /$$$$$$ /$$      /$$  /$$$$$$            /$$   /$$ /$$     /$$ /$$$$$$$$
   |__  $$ /$$__  $$|_  $$_/| $$$    /$$$ /$$__  $$          | $$  / $$|  $$   /$$/|_____ $$
      | $$| $$  \__/  | $$  | $$$$  /$$$$| $$  \ $$          |  $$/ $$/ \  $$ /$$/      /$$/
      | $$| $$        | $$  | $$ $$/$$ $$| $$  | $$           \  $$$$/   \  $$$$/      /$$/
 /$$  | $$| $$        | $$  | $$  $$$| $$| $$  | $$            >$$  $$    \  $$/      /$$/
| $$  | $$| $$    $$  | $$  | $$\  $ | $$| $$  | $$           /$$/\  $$    | $$      /$$/
|  $$$$$$/|  $$$$$$/ /$$$$$$| $$ \/  | $$|  $$$$$$/    /$$   | $$  \ $$    | $$     /$$$$$$$$
\______/   \______/ |______/|__/     |__/ \______/    |__/   |__/  |__/    |__/    |________/

-->

{% include head.html %}

<body>
    {{ content }}
    {% include footer.html %}
</body>

</html>
